/* ------------------ reset ------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font:normal 13px Avenir, Arial, georgia; 헤더폰트 */ 
    font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
}
html, body {
    height: 100%;
    width: 100%;
    font-size:16px;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,
nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,
nav,section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
    outline: none;
}
a {
  color: #000;
  text-decoration: none;
  display:inline-block;
}
img {
    max-width: 100%;
    display:inline-block;
    vertical-align:middle;
}

/* ------------------ reset ------------------- */
.row::after {
    content: "";
    display:table;
    clear:both;
    height:100%;
}
.l_float {
    float:left;
}
.r_float {
    float:right;
}
.container {
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    position:relative;
}
.header_inner {
    max-width: 1100px;
    height:100%;
    margin: 0 auto;
}
/* -------------- grid --------------  */

/* 그리드 픽셀 */

/* .col-1 {
    width: 77px;
}
.col-2 {
    width: 170px;
}
.col-3 {
    width: 263px;
}
.col-4 {
    width: 356px;
}
.col-5 {
    width: 449px;
}
.col-6 {
    width: 542px;
}
.col-7 {
    width: 635px;
}
.col-8 {
    width: 728px;
}
.col-9 {
    width: 821px;
}
.col-10 {
    width: 914px;
}
.col-11 {
    width: 1007px;
}
.col-12{
    width: 1100px;

div[class|=col] {
    float:left;
    margin-right: 16px;
}
*/

.col-1 {
    width: 7%;
}
.col-2 {
    width: 15.45455%;
}
.col-3 {
    width: 23.90909%;
}
.col-4 {
    width: 32.36364%;
}
.col-5 {
    width: 40.81818%;
}
.col-6 {
    width: 49.27273%;
}
.col-7 {
    width: 57.72727%;
}
.col-8 {
    width: 66.18182%;
}
.col-9 {
    width: 74.63636%;
}
.col-10 {
    width: 83.09091%;
}
.col-11 {
    width: 91.54545%;
}
.col-12{
    width: 100%;
}
div[class|=col] {
    float:left;
    margin-right: 1.454545%;
}
div[class|=col]:last-child {
    margin-right: 0;
}
/* li[class|=col] {
    float:left;
    margin-right: 1.454545%;
}
li[class|=col]:last-child {
    margin-right: 0;
} */
.flex_row {
    display:flex;
    justify-content: space-between;
    align-content: center;
}

/* -------------- grid --------------  */

/* 메뉴 음료, 푸드, 상품, 카드 공통 */

/* 분류보기 탭 공통 */
.classify_wrap {
    padding: 30px;
    border: 1px solid #ccc;
    margin-bottom: 50px;
}
.classify {
    border-bottom:1px solid #ccc;
    padding-bottom:20px;
}
.classify_btn {
    margin-top:-13px;
}
.classify_kinds {
    position:relative;
}
.classify_wrap .classify .classify_tit {
    font-weight: 900;
    font-size: 18px;
    letter-spacing: -2px;
}
.cls_category {
    padding: 30px 0 20px;
}
.cls_theme {
    position: absolute;
    top: 30px;
    left: 225px;
}
.cls_theme a {
    background:#f4f4f1;
    padding: 10px 80px;
    color: #000;
    border-radius: 3px;
    font-size: 0.9rem;
    display: inline-block;
}
.classify_kinds .theme_img {
    display:none;
}
.classify_kinds .theme_img img {
    padding: 10px 5px 0 0;
}
.cls_category a {
    padding: 10px 80px;
    background: #006633;
    color: #fff;
    border-radius: 3px;
    font-size: 0.9rem;
    display: inline-block;
}
.cls_select .cls_select_list li{
    display:inline-block;
    padding-right: 20px;
}
.cls_select_list input[type=checkbox] {
    position: absolute;
    clip: rect(0,0,0,0);
}
.cls_select_list label {
    position:relative;
    display:inline-block;
    padding-left:20px;
    padding-bottom:10px;
    font-size: 0.9rem;
    cursor:pointer;
}
.cls_select_list label::before {
    content:'';
    position:absolute;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    top:2.5px;
    left:0;
    background:url(../img/common/checkbox.jpg) no-repeat;
}
input[type="checkbox"]:checked + label::before{
    content:'';
    background:url(../img/common/check.jpg) no-repeat;
    background-size:12px 12px;
}
.classify_tab {
    position: relative;
    width: 100%;
    height: 50px;
}
.cls_tab_view, .cls_detail {
    position:absolute;
}
.cls_tab_view {
    width: 100%;
    top:10px;
    left: 0;
}
.cls_view_left, .cls_view_right {
    position: absolute;
    vertical-align: middle;
}
.cls_view_left {
    top: 0;
    left:0;
}
.cls_view_left a {
    background-color: #666;
    color:#fff;
}
.cls_view_left a, .cls_view_right a{
    letter-spacing: -1px;
    padding: 5px 8px 7px;
    font-size: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.cls_view_txt {
    vertical-align: text-bottom;
}
.cls_view_txt:hover {
    text-decoration: underline;
}
.cls_category:hover a, .cls_theme:hover a{
    text-decoration: underline;
}
.cls_view_right {
    top: 0;
    left: 115px;
}
.cls_detail {
    top:0;
    right: 0;
}
.cls_detail input[type="button"] {
    position: absolute;
    clip: rect(0,0,0,0);
}
.cls_detail .detail_select {
    width: 263px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
}
.cls_detail .detail_select a {
    width: 100%;
    font-size: 0.9rem;
    display: inline-block;
    background: url(../img/common/select_arrow_down.png) no-repeat 100%;
    background-size: 12px 7px;
}
.cls_detail .detail_option{
    display: none;
}
.cls_detail .detail_option li {
    position: relative;
    border:1px solid #eee;
}
.cls_detail .detail_option input[type=checkbox] {
    position: absolute;
    clip: rect(0,0,0,0);
}
.cls_detail .detail_option label {
    position: relative;
    display: inline-block;
    padding-left: 55px;
    font-size: 0.9rem;
    cursor: pointer;
    letter-spacing: -1px;
}
.cls_detail .detail_option label:first-child {
    background:url(../img/common/mark_1.png) no-repeat 30px 10px;
    background-size: 20px 20px;
    height: 38px;
    line-height: 38px;
}
.cls_detail .detail_option label:last-child {
    background: url(../img/common/mark_2.png) no-repeat 30px 10px;
    background-size: 20px 20px;
    height: 38px;
    line-height: 38px;
}
.cls_detail .detail_option label::before {
    content:'';
    position:absolute;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    top:12.5px;
    left: 10px;
    background:url(../img/common/checkbox.jpg) no-repeat;
}
/* 분류보기 탭 공통 */

/* 메뉴 제품 사진 & 제목 공통 */
.menu_each_content {
    padding-bottom: 50px;
}
.menu_product {
    padding-bottom: 50px;
} 
.menu_product ul {
    padding: 25px 0 15px;
}
.menu_product ul li, .refer_product ul li {
    width: 23.91%;
    float:left;
    margin-right: 1.454545%;
}
.menu_product ul li:last-child, .refer_product ul li:last-child {
    margin-right: 0;
}
.product_tit {
    text-align: center;
    padding: 15px 0;
    font-size:0.9rem;
    letter-spacing: -2px;
    color: #444;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.common_tit {
    font-size:1.1rem;
    font-weight: bold;
    letter-spacing: -1px;
    vertical-align: text-bottom;
    margin-right:10px;
}
.common_titbox {
    padding: 10px 0;
}
.common_tit:hover {
    text-decoration: underline;
}
.decaf_logo {
    width: 45px;
    display:inline-block;
}
.decaf_txt {
    font-size:0.8rem;
    letter-spacing:-1px;
}
.menu_common_tit {
    background-color: #f4f4f2;
    padding: 10px 15px;
}
.menu_product .menu_img_box{
    overflow:hidden;
    position: relative;
}
.menu_product .menu_text_box {
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: default;
}
.menu_product .menu_img {
    display:inline-block;
    transition: all ease-in 0.5s;
}
.menu_product .menu_img_box:hover .menu_img {
    transform: scale(1.1);
}

/* 메뉴 제품 사진 & 제목 공통 */

/* 각 메뉴 제품 영양정보 공통 */

.product_detail table {
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin: 20px 0 60px 0;
}
.product_detail thead {
    font-size: 0.9rem;
    font-weight: bold;
    color: #222;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
.product_detail tbody {
    font-size: 0.9rem;
    color: #666;
}
.product_detail tbody tr {
    border-bottom: 1px solid #ddd;
}
.product_detail th,td {
    padding: 15px;
    text-align: center;
}
.product_detail td:first-child {
    letter-spacing: -1.5px;
}
.product_detail {
    display:none;
}
/* 각 메뉴 제품 영양정보 공통 */

/* 메뉴 음료, 푸드, 상품, 카드 공통 */