@import url(common.css);

.skipnavi {
    position:absolute;
    top:-50px;
    left:0;
    text-indent: -99999;
    font-size: 0;
    width: 100%;
    z-index: 9999;
  }
  .skipnavi li a:focus, .skipnavi li a:active {
    position: absolute;
    top: 50px;
    left:0;
    width: 100%;
    padding: 12px;
    text-align: center;
    text-indent: 0px;
    font-size: 15px;
    background-color: #000;
    color:#fff;
    text-decoration: underline;
    letter-spacing: -1px;
  }
#wrap {
    width: 100%;
    height: auto;
    overflow:hidden;
}
/* header 시작 */
#header,#footer {
    font: normal 0.8rem Avenir, Arial, georgia;
}
#header {
    background-color: #f6f5ef;
    height:120px;
    position:relative;
}
.main_logo {
    padding: 20px 0;
}
.main_gnb .gnb_top > ul > li, .main_gnb .gnb_btm > ul > li {
    display: inline-block;
    font: normal 0.8rem Avenir, Arial, georgia;
}
.main_gnb .gnb_top ul {
    text-align: right;
}
.main_gnb .gnb_top ul li {
    padding: 10px 15px;
    position:relative;
}
.main_gnb .gnb_top ul li::after {
    content:"";
    width: 1px;
    height: 12px;
    background-color: #ddd;
    top:35%;
    left:100%;
    position: absolute;
}
.main_gnb .gnb_top ul li:last-child::after {
    background-color:transparent;

}
.main_gnb .gnb_top ul li a {
    color:#555;
    display:inline-block;
}
.main_gnb .gnb_top .gnb_icon {
    padding: 5px 7px;
    border:1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    vertical-align: middle;
    display:inline-block;
}
.gnb_btm > ul > li > a {
    padding: 15px 20px 38px;
    margin-left: -4px;
    display:inline-block;
    text-transform: uppercase;
}
.gnb_btm > ul > li > a:hover {
    background-color: #2C2A29;
    color:#669900;
    text-decoration:underline;
}
/* gnb sub menu 시작 */
.gnb_btm .main_lnb {
    position:absolute;
    top:120px;
    left:0;
    background-color: #2C2A29;
    width: 100%;
    overflow:hidden;
    z-index: 1;
    height: 0;
    transition: all ease-in 0.4s; 
}
.gnb_btm li:hover .main_lnb {
    height: 350px;
}
.main_lnb li:hover a {
    text-decoration: underline;
}
.main_lnb .lnb_top .lnb {
    width: 20%;
    float:left;
}
.main_lnb .lnb_top{
    padding: 20px 0 20px 0;
}
.main_lnb .lnb_top a {
    color: #999;
    line-height: 22px;
    font-size: 0.75rem;
    letter-spacing: -1px;
}
.main_lnb .lnb_top .lnb_tit a{
    color:#fff;
    font-size: 0.9rem;
    font-weight: bold;
    display:inline-block;
    padding-bottom:10px;
}
.main_lnb .lnb_story .lnb_tit a {
    cursor: default;
}
.main_lnb .lnb_btm_bg {
    background:url(../img/common/gnb_sub_txbg.jpg);
    padding: 25px 0 20px 0;
}
.main_lnb .lnb_btm_bg a {
    color:#999;
    font-weight: bold;
    font-size: 0.7rem;
    letter-spacing: -1px;
}
.main_lnb .lnb_btm_bg a img {
    vertical-align: middle;
    display: inline-block;
    padding-left: 3px;
}
.main_lnb .lnb_btm_bg .lnb_txt {
    color: #64a70b;
    font-size: 0.7rem;
    letter-spacing:-1px;
    line-height:20px;
}
/* gnb sub menu 끝 */

/* header 끝 */

/* section menu 시작 */
.menu_tit {
    padding: 22px 0;
}
.menu_tit ul {
    text-align:right;
}
.menu_tit ul li {
    display:inline-block;
}
.menu_tit ul li a {
    font-size: 0.8rem;
    text-transform:uppercase;
    vertical-align: middle;
    display:inline-block;
}
/* menu_bn */
#menu_bn {
    background: url(../img/menu/menu_banner.jpg) no-repeat top center;
    border-bottom: 1px solid #0d6035;
    height: 400px;
    position:relative;
}
#menu_bn .menu_slider {
    position:absolute;
    bottom: 20px;
    left:50%;
    z-index: 2;
}
#menu_bn .menu_slider div {
    display:inline-block;
}
#menu_bn .menu_prev, #menu_bn .menu_next {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#menu_bn .menu_play, #menu_bn .menu_stop {
    cursor: pointer;
}
#menu_bn .menu_prev {
    left: 5%;
}
#menu_bn .menu_next {
    left: 95%;
}
.menu_refer {
    margin-top: -48px;
}
.menu_refer .refer_product {
    display:none;
}
.menu_refer .refer_product{
    padding: 50px 0 50px 0;
    background-color: #fffaf4;
    border-bottom: 1px solid #0d6035;
}
.menu_refer .refer_product .refer_txt {
    padding: 10px 0 30px;
    font-size: 0.9rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* menu_bn */

#menu_notice {
    position:relative;
}
#menu_notice .menu_notice_bg {
    position: absolute;
    max-width: 1100px;
    background: url(../img/menu/useinfo_bg2.jpg) no-repeat top center;
    width: 100%;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#menu_notice .notice_ltxt {
    padding: 25px 15px;
    position:relative;
}
#menu_notice .notice_rtxt {
    padding: 11px 11px 0;
}
#menu_notice .notice_data {
    padding-left:20px;
}
#menu_notice .notice_btn {
    position:absolute;
    top: 15px;
    right: 10px;
}
#menu_notice .notice_ltxt div, #menu_notice .notice_rtxt div{
    display: inline-block;
    color:#fff;
}
#menu_notice .notice_lbg {
    background-color:#000;
    height: 70px;
}
#menu_notice .notice_lbg {
    margin-right:0;
}
#menu_notice .notice_rbg {
    background:url(../img/menu/useinfo_bg.jpg) top center;
    height: 70px;
    margin-left: 1.454545%;
}
/* menu_notice */

.menu_content p {
    padding: 50px 0;
}
.menu_base_r {
    position: absolute;
    width:100%;
    top: 15%;
    left: 65%;
}
.menu_base_l {
    position: absolute;
    width:100%;
    top: 15%;
    left: 0;
}
.menu_bbtn {
    color: #000;
    border: 2px solid #000;
}
.menu_wbtn {
    color: #fff;
    border: 2px solid #fff;
}
.menu_btn{
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}
.menu_wbtn:hover {
    color: #000;
    text-decoration:underline;
    background:#fff;
}
.menu_bbtn:hover {
    color: #fff;
    text-decoration:underline;
    background:#000;
}
#menu_drink {
    background: url(../img/menu/menu_drink.jpg) no-repeat top center;
    background-size: cover;
    background-position: center;
}
#menu_food {
    background: url(../img/menu/menu_food.jpg) no-repeat top center;
    background-size: cover;
    background-position: center;
}
#menu_product {
    background: url(../img/menu/menu_product.jpg) no-repeat top center;
    background-size: cover;
    background-position: center;
}
#menu_card {
    background: url(../img/menu/menu_card.jpg) no-repeat top center;
    background-size: cover;
    background-position: center;
}
#menu_story {
    background: url(../img/menu/menu_story.jpg) no-repeat top center;
    background-size: cover;
    background-position: center;
}
.menu_cont {
    height: 430px;
}
/* section menu 끝 */

/* section 나이트로 콜브 브루 시작  */
#nitro .nitro_bg {
    background: url(../img/nitro_page/img/nitro_bn_bg.jpg) no-repeat;
    background-size:cover;
    width: 100%;
    height: 1100px;
    position:relative;
}
#nitro .nitro_mainBg {
    background: url(../img/nitro_page/img/nitro_main.png) no-repeat;
    background-size: contain;
    position: absolute;
    width: 1130px;
    height: 1012px;
    top: 8%;
    left: 28%;

}
#nitro .nitro_tit {
    position: absolute;
    left: 0;
    text-align: center;
    padding: 200px 0 0 50px;
}
#nitro .nitro_tit li:nth-child(2) {
    padding: 50px 0;
}
#nitro .nitro_videoTxt {
    height: 100%;
    padding: 111px 20px 0;
}
#nitro .nitro_videoBox {
    border: 3px solid #d67e42;
    background: #272525;
}
#nitro .nitro_line {
    width: 30px;
    height: 1px;
    background-color: #d67e42;
    text-align: left;
    margin-bottom: 20px;
}
#nitro .nitro_txt {
    color: #d67e42;
    white-space: pre-line;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.4;
    letter-spacing: -1px;
}
#nitro .nitro_introBg {
    background: url(../img/nitro_page/img/nitro_intro_bg.jpg) no-repeat;
    background-size:cover;
    width: 100%;
    height: 1160px;
    position:relative;
    padding: 30px 0;
}
#nitro .intro_mainTxt {
    text-align: center;
}
#nitro .intro_mainTxt li:nth-child(2){
    border-top: 0.5px solid #969595;
    display:inline-block;
}
#nitro .nitro_motion div {
    margin: 0 auto;
}
#nitro .intro_subImg01 {
    background: url(../img/nitro_page/img/nitro_intro_img01.png) no-repeat center;
    width: 100%;
    height: 288px;
    position:relative;
}
#nitro .intro_subImg01::after {
    content:'';
    background:url(../img/nitro_page/text/nitro_intro_stxt01.png) no-repeat;
    width: 100%;
    height: 100%;
    position:absolute;
    left: 52%;
    top: 33%;
}
#nitro .intro_subImg02 {
    background: url(../img/nitro_page/img/nitro_intro_img02.png) no-repeat;
    width: 29px;
    height: 26px;
    position: relative;
    top: -25px;
}
#nitro .intro_subImg03 {
    background: url(../img/nitro_page/img/nitro_intro_img03.png) no-repeat;
    width: 18px;
    height: 62px;
    position:relative;
    top: -27px;
}
#nitro .intro_subImg04 {
    background: url(../img/nitro_page/img/nitro_intro_cup1.jpg) no-repeat center;
    width: 100%;
    height: 329px;
    position: relative;
    top: -30px;
}
#nitro .intro_subImg04::before {
    content:'';
    background:url(../img/nitro_page/text/nitro_intro_stxt02.png) no-repeat;
    width: 100%;
    height: 100%;
    position:absolute;
    left: 15%;
    top: -22%;
}
#nitro .intro_subImg04::after {
    content:'';
    background:url(../img/nitro_page/text/nitro_intro_stxt03.png) no-repeat;
    width: 100%;
    height: 100%;
    position:absolute;
    left: 53%;
    top: 22%;
}
#nitro .nitro_contBg01 {
    background: url(../img/nitro_page/img/nitro_cont01.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 360px;
    position:relative;
}
#nitro .nitro_contTxt01 {
    background: url(../img/nitro_page/text/nitro_cont_txt1.png) no-repeat;
    width: 261px;
    height: 115px;
    position: absolute;
    top: 32%;
    left: 20%;
}
#nitro .nitro_contBg02 {
    background: url(../img/nitro_page/img/nitro_cont02.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 360px;
    position:relative;
}
#nitro .nitro_contTxt02 {
    background: url(../img/nitro_page/text/nitro_cont_txt2.png) no-repeat;
    width: 282px;
    height: 115px;
    position: absolute;
    top: 32%;
    left: 57%;
}
#nitro .nitro_contBg03 {
    background: url(../img/nitro_page/img/nitro_cont03.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 360px;
    position:relative;
}
#nitro .nitro_contTxt03 {
    background: url(../img/nitro_page/text/nitro_cont_txt3.png) no-repeat;
    width: 216px;
    height: 114px;
    position: absolute;
    top: 32%;
    left: 20%;
}
#nitro .nitro_typeBg {
    background: url(../img/nitro_page/img/nitro_typeBg.jpg) no-repeat center;
    background-size:cover;
    width: 100%;
    height: 813px;
    text-align: center;
}
#nitro .nitro_typeTxt {
    padding: 100px 0 50px;
}
#nitro .nitro_typeImg li{
    display:inline-block;
    padding-right: 50px;
}
#nitro .nitro_typeImg li:last-child{
    padding-right: 0;
}
#nitro .nitro_mapImg {
    background: url(../img/common/map.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 630px;
}
/* section 나이트로 콜브 브루 끝  */

/* section 콜드 브루 시작 */
#coldbrew .coldbrew_Bg {
    background: url(../img/coldbrew_page/img/cold_main_bg.jpg) no-repeat center;
    background-size: cover; 
    width: 100%;
    height: 1060px;
}
#coldbrew .coldbrew_tit {
    text-align: center;
    padding-top: 110px;
}
#coldbrew .coldbrew_btn a{
    position: absolute;
    width: 160px;
    height: 250px;
    text-indent: -9999px;
    top: 65%;
    left: 65%;
    cursor: pointer;
}
#coldbrew .coldbrew_contBg01 {
    background: url(../img/coldbrew_page/img/cold_cont01.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 360px;
    position:relative;
}
#coldbrew .coldbrew_contTit01 {
    background: url(../img/coldbrew_page/text/cold_cont_tit1.png) no-repeat;
    width: 496px;
    height: 28px;
    position: absolute;
    top: 32%;
    left: 55%;
}
#coldbrew .coldbrew_contTxt01 {
    background: url(../img/coldbrew_page/text/cold_cont_txt1.png) no-repeat;
    width: 393px;
    height: 68px;
    position: absolute;
    top: 45%;
    left: 55%;
}
#coldbrew .coldbrew_contBg02 {
    background: url(../img/coldbrew_page/img/cold_cont02.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 360px;
    position:relative;
}
#coldbrew .coldbrew_contTit02 {
    background: url(../img/coldbrew_page/text/cold_cont_tit2.png) no-repeat;
    width: 496px;
    height: 28px;
    position: absolute;
    top: 32%;
    left: 0;
}
#coldbrew .coldbrew_contTxt02 {
    background: url(../img/coldbrew_page/text/cold_cont_txt2.png) no-repeat;
    width: 324px;
    height: 92px;
    position: absolute;
    top: 45%;
    left: 15%;
}
#coldbrew .coldbrew_contBg03 {
    background: url(../img/coldbrew_page/img/cold_cont03.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 360px;
    position:relative;
}
#coldbrew .coldbrew_contTit03 {
    background: url(../img/coldbrew_page/text/cold_cont_tit3.png) no-repeat;
    width: 150px;
    height: 28px;
    position: absolute;
    top: 42%;
    left: 55%;
}
#coldbrew .coldbrew_contTxt03 {
    background: url(../img/coldbrew_page/text/cold_cont_txt3.png) no-repeat;
    width: 533px;
    height: 19px;
    position: absolute;
    top: 55%;
    left: 55%;
}
#coldbrew .coldbrew_contBg04 {
    background: url(../img/coldbrew_page/img/cold_cont04.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 570px;
    position:relative;
    background-attachment: fixed;
}
#coldbrew .coldbrew_contTit04 {
    background: url(../img/coldbrew_page/text/cold_cont_tit4.png) no-repeat center;
    width: 647px;
    height: 162px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#coldbrew .coldbrew_contTxt04 {
    background: url(../img/coldbrew_page/text/cold_cont_txt4.png) no-repeat;
    width: 720px;
    height: 82px;
    position:absolute;
    top:67%;
    left:50%;
    transform: translate(-50%, -50%);
}
#coldbrew .coldbrew_infoBg {
    background: url(../img/coldbrew_page/img/cold_info_bg.png) no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}
#coldbrew .coldbrew_infoImg {
    padding: 100px 20px;
}
#coldbrew .coldbrew_typeBg {
    background: url(../img/coldbrew_page/img/coldtype_Bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 813px;
    text-align: center;
}
#coldbrew .coldbrew_typeTxt {
    padding: 100px 0 50px;
}
#coldbrew .coldbrew_typeImg li{
    display:inline-block;
    padding-right: 50px;
}
#coldbrew .coldbrew_typeImg li:last-child{
    padding-right: 0;
}
#coldbrew .coldbrew_mapImg {
    background: url(../img/coldbrew_page/img/coldbrew_map.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 630px;
}
/* section 콜드 브루 끝 */
/* section 스타벅스 티바나 시작 */
#teavana .teavana_bg {
    background: url(../img/teavana/main/img/teavana_bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 1000px;
    padding-top: 170px;
}
#teavana .teavana_tit {
    background:url(../img/teavana/main/text/teavana_tit.png) no-repeat center;
    width: 533px;
    height: 124px;
    margin: 0 auto 100px;
}
#teavana .teavana_txt {
    background:url(../img/teavana/main/text/teavana_txt.png) no-repeat center;
    width: 362px;
    height: 84px;
    margin: 0 auto;
}
#teavana .teavana_main {
    background: url(../img/teavana/main/img/teavana_main.png) no-repeat center;
    background-size:contain;
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 855px;
    height: 431px;
}
#teavana .teavana_menu {
    background-color: hsla(239, 70%, 16%, 0.8);
    position:sticky;
    top: 0;
    text-align: center;
    margin-top: -84px;
    height: 84px;
    padding-top: 35px;
}
#teavana .teavana_menu ul li{
    width: 33.333%;
    float:left;
    border-right: 1px solid #eee;
    padding: 2px;
}
#teavana .teavana_menu ul li:last-child{
    border-right: 0;
}
#teavana .teavana_menu ul li a {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: -1px;
    color: #ccc;
}
#teavana .teavana_storyBg {
    background:url(../img/teavana/brand/img/brand_bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 1500px;
    background-attachment: fixed;
}
#teavana .teavana_storyTit {
    background: url(../img/teavana/brand/text/brand_tit.jpg) no-repeat;
    width: 336px;
    height: 89px;
    position: absolute;
    top: 13%;
    left: 3%;
}
#teavana .teavana_story01, #teavana .teavana_story02, #teavana .teavana_story03 {
    position: absolute;
    width: 100%;
    height: 100%;
}
#teavana .teavana_storyImg01 {
    background: url(../img/teavana/brand/img/brand_img01.png) no-repeat;
    width: 1010px;
    height: 692px;
    position: absolute;
    background-size: contain;
    top: 40%;
    left: -56%;
}
#teavana .teavana_storyTxt01 {
    background: url(../img/teavana/brand/text/brand_txt01.png) no-repeat;
    width: 444px;
    height: 237px;
    position: absolute;
    top: 30%;
    left: -7%;
}
#teavana .teavana_storyImg02 {
    background: url(../img/teavana/brand/img/brand_img02.png) no-repeat;
    width: 1120px;
    height: 8250px;
    position: absolute;
    background-size: contain;
    top: -3.5%;
    left: 36%;
}
#teavana .teavana_storyTxt02 {
    background: url(../img/teavana/brand/text/brand_txt02.png) no-repeat;
    width: 353px;
    height: 199px;
    position: absolute;
    top: 40%;
    left: 75%;
}
#teavana .teavana_storyImg03 {
    background: url(../img/teavana/brand/img/brand_img03.png) no-repeat;
    width: 1045px;
    height: 601px;
    position: absolute;
    background-size: contain;
    top:60%;
    right:-11%;
}
#teavana .teavana_storyTxt03 {
    background: url(../img/teavana/brand/text/brand_txt03.png) no-repeat;
    width: 337px;
    height: 238px;
    position: absolute;
    top:60%;
    left:40%;
}
#teavana .teavana_introBg, .teavana_type {
    height: 100%;
}
#teavana .teavana_intro {
    background: url(../img/teavana/type/img/type_bg.jpg) no-repeat;
    width: 100%;
    height: 2800px;
    background-size:cover;
    position: relative;
}
#teavana .teavana_typeTit {
    background: url(../img/teavana/type/text/type_tit.png) no-repeat;
    width: 287px;
    height: 151px;
    position: absolute;
    top: 5%;
    left: 7%;
}
#teavana .teavana_typeTxt {
    background: url(../img/teavana/type/text/type_txt.png) no-repeat;
    width: 508px;
    height: 148px;
    position: absolute;
    top: 15%;
    left: 7%;
}
#teavana .teavana_introCont {
    width: 100%;
    border: 1px solid #a6a2a2;
    box-shadow: 0 0 7px #999599;
    position: absolute;
    top: 23%;
}
#teavana .teavana_cont {
    width: 100%;
    height: 360px;
    background-size: cover;
    position:relative;
}
#teavana .teavana_cont01 {
    background: url(../img/teavana/type/img/type_menu_bg1.jpg) no-repeat;
}
#teavana .teavana_contImg01 {
    background: url(../img/teavana/type/img/type_menu01.png) no-repeat;
    width: 582px;
    height: 100%;
    background-size: cover;
}
#teavana .teavana_txt01 {
    background: url(../img/teavana/type/text/type_menu_txt01.png) no-repeat;
    width: 455px;
    height: 169px;
    position: absolute;
    top: 25%;
    right: 10%;
}
#teavana .teavana_more01 {
    background : url(../img/common/zoom_tea_type01.png) no-repeat;
    width: 202px;
    height: 134px;
    position: absolute;
    top: 30%;
    left: 35%;
}
#teavana .teavanaClose {
    background: url(../img/common/btn_close_type.png) no-repeat;
    position: absolute;
    width: 29px;
    height: 29px;
    top: 17px;
    right: 17px;
}
#teavana .teavana_subCont {
    background-color: rgba(0,0,0,0.7);
    z-index: 1111;
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px;
    width: 100%;
    height: 360px;
    display:none;
}
#teavana .teavana_subContBg {
    background-color: #fff;
    height:239px;
}
#teavana .teavana_subContTxt {
    padding: 20px 0;
}
#teavana .teavana_subContTxt p {
    padding: 10px 0;
}
#teavana .teavana_subContTxt p:last-child {
    line-height: 1.3;
}
#teavana .teavana_subContTxt p:last-child span{
    color:#1e2782;
}
#teavana .teavana_subContTxt p:last-child span:hover{
    text-decoration:underline;

}
#teavana .teavana_subContTxt p:nth-child(3) {
    font-weight: bold;
    color: rgb(126, 125, 125);
    line-height:1.2;
}
#teavana .teavana_subContTxt p:nth-child(even) {
    font-size: 0.9rem;
}
#teavana .teavana_cont02 {
    background: url(../img/teavana/type/img/type_menu_bg2.jpg) no-repeat;
}
#teavana .teavana_contImg02 {
    background: url(../img/teavana/type/img/type_menu02.png) no-repeat;
    width: 1218px;
    height: 100%;
    background-size: cover;
}
#teavana .teavana_txt02 {
    background: url(../img/teavana/type/text/type_menu_txt02.png) no-repeat;
    width: 397px;
    height: 169px;
    position: absolute;
    top: 25%;
    left: 10%;
}
#teavana .teavana_more02 {
    background : url(../img/common/zoom_tea_type02.png) no-repeat;
    width: 202px;
    height: 134px;
    position: absolute;
    top: 30%;
    left: 45%;
}
#teavana .teavana_cont03 {
    background: url(../img/teavana/type/img/type_menu_bg3.jpg) no-repeat;
}
#teavana .teavana_contImg03 {
    background: url(../img/teavana/type/img/type_menu03.png) no-repeat;
    width: 708px;
    height: 100%;
    background-size: cover;
}
#teavana .teavana_txt03 {
    background: url(../img/teavana/type/text/type_menu_txt03.png) no-repeat;
    width: 455px;
    height: 169px;
    position: absolute;
    top: 25%;
    right: 10%;
}
#teavana .teavana_more03 {
    background : url(../img/common/zoom_tea_type01.png) no-repeat;
    width: 202px;
    height: 134px;
    position: absolute;
    top: 30%;
    left: 35%;
}
#teavana .teavana_cont04 {
    background: url(../img/teavana/type/img/type_menu_bg4.jpg) no-repeat;
}
#teavana .teavana_contImg04 {
    background: url(../img/teavana/type/img/type_menu04.png) no-repeat;
    width: 740px;
    height: 100%;
    background-size: cover;
    position:absolute;
    right:0;
}
#teavana .teavana_txt04 {
    background: url(../img/teavana/type/text/type_menu_txt04.png) no-repeat;
    width: 455px;
    height: 169px;
    position: absolute;
    top: 25%;
    left: 10%;
}
#teavana .teavana_more04 {
    background : url(../img/common/zoom_tea_type02.png) no-repeat;
    width: 202px;
    height: 134px;
    position: absolute;
    top: 30%;
    left: 45%;
}
#teavana .teavana_teaDrink {
    position: absolute;
    bottom: 0;
    left: 7%;
}
#teavana .teavana_etcBg {
    background: url(../img/teavana/drink/img/drink_bg.png) no-repeat;
    width: 100%;
    height:1275px;
    position: absolute;
    bottom: -19%;
    left: 50%;
}
#teavana .teavana_drinkTit {
    background: url(../img/teavana/drink/text/drink_tit.png) no-repeat;
    width: 287px;
    height: 210px;
    bottom: 85%;
}
#teavana .teavana_drinkTxt {
    background: url(../img/teavana/drink/text/drink_txt.png) no-repeat;
    width: 656px;
    height: 260px;
    bottom: 40%;
}
#teavana .teavana_drinkMenu {
    border-top: 1px solid #c0bab5;
    height: 77px;
    margin-top: -77px;
}
#teavana .teavana_drinkTabs {
    text-align: center;
}
#teavana .teavana_drinkTabs li{
    display:inline-block;
    width: 24%;
    padding: 30px 0;
    position: relative;
}
#teavana .teavana_drinkTabs li::before {
    content: '';
    position: absolute;
    top: 35%;
    left: 0;
    width: 1px;
    height: 25px;
    border-right: 1px solid #ccc;
}
#teavana .teavana_drinkTabs li:last-child::after {
    content:'';
    position: absolute;
    top: 35%;
    left: 100%;
    width: 1px;
    height: 25px;
    border-right: 1px solid #ccc;
}
#teavana .teavana_drinkTabs li a {
    font-size: 1rem;
    font-weight: bold;
}
#teavana .teavana_drinkTabs li a:hover, .drinkTabs_active{
    color: #fff;
}
#teavana .teavana_drinkSlide {
    width: 100%;
    height: 532px;
}
#teavana .teavana_drinkSlideBg {
    background: url(../img/teavana/type/img/type_slide_bg.jpg) no-repeat;
    background-size: cover;
    height: 532px;
    width: 100%;
    padding: 50px;
}
#teavana .drinkSlide_txt {
    text-align: center;
    font-size: 1.1rem;
    color: #595959;
}
#teavana .drinkSlide_01 p{
    white-space : nowrap;
    padding-top: 20px;
    letter-spacing: -1px;
    color: #595959;
    text-align: center;
    font-size:0.9rem;
}
#teavana .drinkSlide_01 p a:hover{
    text-decoration: underline;
}
#teavana .teavana_storeBg {
    background: url(../img/teavana/store/store_main_bg.jpg) no-repeat center;
    width: 100%;
    height: 195px;
    background-size: cover;
    padding-top: 60px;
}
#teavana .teavana_storeLogo {
    text-align: center;
}

#teavana .store_btn02 a{
    letter-spacing: -1px;
    padding: 10px;
}
/* section 스타벅스 티바나 끝 */
/* footer 시작 */
#footer {
    background-color:#2C2A29;
    padding: 35px 0;
}
#footer .fot_awards {
    background-color: #282828;
}
.fot_menu {
    position:relative;
    padding-bottom:60px;
}
.fot_menu ul {
    width: 20%;
    float:left;
}
.fot_menu::after {
    content:'';
    position:absolute;
    background: url(../img/common/footer_logo.png) no-repeat;
    top:0;
    right:0;
    width: 14px;
    height: 142px;
}
.fot_menu .fot_tit{
    text-transform: uppercase;
    padding-bottom: 8px;
    font-size: 0.75rem;
    display:inline-block;
}
.fot_menu ul li a{
    color: #fff;
    font-size: 0.8rem;
    line-height: 22px;
}
.fot_awards ul li {
    float:left;
    margin-left: -16.5px;
    padding: 20px 0 30px 0;
}
.fot_awards ul li:first-child {
    margin-left:0;
}
.fot_awards ul li a {
    display: inline-block;
}
.fot_awards ul li a img {
    width: 90%;
}
.fot_fnb {
    text-align: center;
    padding-top:30px;
}
.fot_fnb .fnb_top ul li a {
    color:#ccc;
    border-right: 1px solid #393939;
    padding: 0 10px;
    display:inline-block;
    font-size:0.75rem;
    letter-spacing: -1px;
}
.fot_fnb .fnb_top ul li:last-child a {
    border-right: 0;
}
.fot_fnb .fnb_top .fnb_policy {
    color: #00b050;
    font-weight: bold;
}
.fot_fnb .fnb_top ul li, .fot_fnb .fnb_mid ul li {
    display:inline-block;
}
.fot_fnb .fnb_mid {
    padding: 10px 0 15px 0;
}
.fot_fnb .fnb_mid ul li a {
    border: 2px solid #fff;
    padding: 7px 15px;
    display: inline-block;
    margin-right: 5px;
    font-weight: 600;
    color: #fff;
    font-size: 0.7rem;
    border-radius: 3px;
    width: 105px;
}
.fot_fnb .fnb_btm p {
    padding: 10px 0;
}
.fot_fnb .fnb_btm p span {
    color:#999;
    font-size: 0.7rem;
    display: inline-block;
    padding-right: 15px;
}
/* footer 끝 */
