
/* 공통 부분 */
* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    letter-spacing: -1px;
    padding-top: 120px;
}
ul, ol li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* ---------------------------헤더 시작--------------------------- */
#header_area{
    width: 100%;
    height: 120px;
    margin: 0 auto;
    background-color: #f6f5ef;
    position: fixed;
    top: 0;
    z-index: 999;
}
#header_inner{
    margin: 0 20%;
    height: 120px;
    width: 1100px;
}
#header_inner h1{
    background: url('../IMAGES/MAIN/LOGO/logo.png') no-repeat;
    width: 76px;
    height: 76px;
    position: absolute;
    top: 20px;
    float: left;
}
#header_inner h1 a{
    display: block;
    width: 76px;
    height: 76px;
    line-height: 76px;
    text-indent: -9999px;
    overflow: hidden;
}
#header_cont{
    float: right;
}
#util_nav li a{
    color: #555;
}
#util_nav{
    text-align: right;
    float: right;
}
#util_nav li{
    float: left;
    /* font-size: 13px; */
    font:normal 13px Avenir, Arial, georgia;
    letter-spacing: 0;
    padding-top: 20px;
}
#util_nav li::after{
    content: "|";
    color: rgba(85, 85, 85, 0.158);
    padding: 20px;
}
#util_nav li:nth-child(4)::after{
    content: none;
    
}
#util_nav li:nth-child(4){
    padding-right: 10px;
}
#util_nav li:last-child::after{
    content: none;
}
#gnb{
    float: right;
}

#gnb li{
    display: inline-block;
    padding-top: 30px;
    color: #333;
    text-align: center;
    /* font-size: 13px; */
}
#gnb li:first-child{
    width: 89px;
}
#gnb li:nth-child(2){
    width: 73px;
}
#gnb li:nth-child(3){
    width: 79px;
}
#gnb li:nth-child(4){
    width: 153px;
}
#gnb li:nth-child(5){
    width: 225px;
}
#gnb li:last-child{
    width: 131px;
    padding-right: 0;
}
#gnb li a{
    color: #333;
    display: block;
    padding-top: 10px;
    font:normal 13px Avenir, Arial, georgia;
    letter-spacing: 0;
    height: 45px;
}
#gnb li a:last-child{
    padding-right: 0;
}
#gnb li a:hover{
    background-color: #2c2a29;
    color: #669900;
    text-decoration: underline;
}
/*---------------------------헤더 끝-------------------------------*/
/* -------------------STORE main 페이지 시작(index.html)-----------------*/













/* ---------------------------푸터 시작--------------------------- */
footer{
    width: 100%;
    background-color: #2c2a29;
    overflow: hidden;
    padding-bottom: 40px;
}
#footer_inner{
    width: 1115px;
    margin: 0 20%;
}
#footer_inner ul{
    margin-bottom: 60px;
}
#footer_inner ul li{
    padding: 3px 0;
}
#footer_inner ul li a{
    color: #fff;
    font-size: 12px;
}
#footer_inner ul .li_tit a{
    font-size: 14px;
}
.li_tit{
    margin-top: 40px;
    margin-bottom: 5px;
}

#footer_inner ul{
    width: 220px;
    float: left;
}
#footer_inner ul:last-child{
    padding-right: 0;
}
#footer_inner img{
    width: 14px;
    overflow: hidden;
    float: right;
    margin-top: 40px;
}

#awards_area{
    width: 100%;
    overflow: hidden;
    background-color: #282828;
}
#awards_inner{
    margin: 0 18%;
}
#awards_inner ul li{
    display: block;
    float: left;
    width: 14%;
    padding: 30px 0;
    margin: 0 10px;
}
#awards_inner ul li:nth-child(4) img{
    width: 191px;
}
#awards_inner ul li:nth-child(5) img{
    width: 191px;
}
#etc_area{
    width: 100%;
    background-color: #2c2a29;
    text-align: center;
}
#etc_area ul:first-child {
    padding-top: 30px;
}
#etc_area ul:first-child li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #393939;
    text-align: center;
    height: 16px;
    line-height: 16px;
}
#etc_area ul li a{
    color: #ccc;
    font-size: 12px;
    
}
#etc_area ul li:first-child a {
    color: #00b050;
}
#etc_box {
    padding: 10px 0 20px 0;
}
#etc_box a {
    display: inline-block;
    width: 90px;
    height: 30px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    padding: 0 10px;
    margin-right: 5px;
    border: 2px solid #fff;
    border-radius: 3px;
}
#etc_box a:hover{
    text-decoration: underline;
}
#copyright_area {
    width: 100%;
    text-align: center;
}
#copyright_area ul{
    margin-bottom: 20px;
}
#copyright_area ul li {
    display: inline-block;
    color: #999;
    font-size: 12px;
    padding: 0 10px;
    letter-spacing: 0;
}
#copyright_area span{
    font-family: arial, HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    color: #999;
    font-size: 12px;
    letter-spacing: 0;;
}
